p, form, span, textarea{
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/as.png");
  color: #FFF;
  margin: 0;
}

a {
  color: #00B7FF;
}

label, textarea{
  display: block;
}

.message{
  margin-bottom: 10px;
}

.questionTypes{
   float: left;
   width: 200px;
}

.newQuestion{
  padding-left: 200px;
  overflow: hidden;
}

.questionContainer{
  position: relative;
  width: 450px;
}

.question{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.questions{
  background: #CB0000;
  width: 300px;
  height: 150px;
  margin-bottom: 5px;
  font-size: 24px;
  text-align: center;
}

.nextQuestion{
  background: #CB0000;
  font-size: 18px;
  float: right;
  position: absolute; 
  bottom: 0;
  right: 0;
}

.maxChars{
  width: 100px;
}

.maxCharCurrent{
  float: left;
}

.maxCharTotal{
  overflow: hidden;
}

.nextQuestion, .questions {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:2px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.nextQuestion:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.nextQuestion:active {
	position:absolute;
}
